{#
/**
 * @file
 * Theme template to display an eventinstance register button.
 *
 * Available variables:
 * - entity: The eventinstance entity.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more classes.
 */
#}
{% block content %}
  <a {{ attributes }} href="{{ path('entity.registrant.add_form', {'eventinstance': entity.id.value}) }}">{{ 'Register'|t }}</a>
{% endblock %}
